.swiper-pagination {
    margin-bottom: 1.5rem;
}

.swiper-pagination-bullet {
    width: 0.863rem;
    height: 0.863rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1.8rem;

    /* Inside auto layout */

    flex: none;
    order: 2;

}

.swiper-pagination-bullet-active {
    width: 3.022rem;
    height: 0.863rem;
    order: 0;
    background: #FFFFFF !important;
}