.swiper-pagination {
    margin-bottom: 1.5rem;
}

.swiper-pagination-bullet {
    width: 0.863rem;
    height: 0.863rem;
    background: rgb(255, 255, 255);
    border-radius: 1.8rem;
    opacity: 1;

    /* Inside auto layout */

    flex: none;
    order: 2;

}

.swiper-pagination-bullet-active {
    width: 0.863rem;
    height: 0.863rem;
    order: 0;
    background: #8DC63F !important;
}